@font-face {
  font-family: 'Gilroy-Bold';
  font-style: normal;
  font-weight: 400;
  src: local('Gilroy-Bold'), url('https://fonts.cdnfonts.com/s/16219/Gilroy-Bold.woff');
  font-display: swap;
}


@font-face {
  font-family: 'easybiz';
  src: url('https://al-amanah.netlify.app/fonts/easybiz.eot?w2vanv');
  src: url('https://al-amanah.netlify.app/fonts/easybiz.eot?w2vanv#iefix') format('embedded-opentype'),
    url('https://al-amanah.netlify.app/fonts/easybiz.ttf?w2vanv') format('truetype'),
    url('https://al-amanah.netlify.app/fonts/easybiz.woff?w2vanv') format('woff'),
    url('https://al-amanah.netlify.app/fonts/easybiz.svg?w2vanv#easybiz') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}